


<div class="Content">


    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="page-title-box">
          
              <h4 class="page-title">Patients View Details</h4>
          </div></div>


          <div class="col-lg-4 col-md-6 col-sm-12">



          </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="page-title-right">
          <div class="example-button-row ">

           
              <div class="pull-right">

                <button mat-fab color="primary" aria-label="Example icon button with a delete icon" style="margin-top: 10px !important;">
                  <mat-icon>add</mat-icon>
                </button>             
             
                <span class="pull-right" style="font-size:20px;padding-top: 27px;">Patient Id <strong>#10545</strong></span>
          

              </div>
             
              
              
            
          </div>
        </div></div>



    </div>



    <div class="row">

        <div class="col-lg-4 col-md-12 col-sm-12">
         
            
            <div class="card">
                <div class="card-body">


                    <div class="container">
                        
                        <div class="avatar-upload">
                            <div class="avatar-edit">
                                <i class="fa fa-camera pgo" aria-hidden="true"></i>
                                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                                <label for="imageUpload"></label>
                            </div>
                            <div class="avatar-preview">
                                <div id="imagePreview" style="background-image: url('http://i.pravatar.cc/500?img=7');">
                                </div>
                            </div>
                        </div>

<div class="tedt">

    <div class="big">Sankar Krishnan</div>
    <div class="big-email">sankar24.K@gmail.com</div>
    <div class="mel">Male  -  39 Years 03 Months</div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">

<div class="hight"><span class="ght">Height</span> - 53-'2'</div>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="hight"><span class="ght">Weight</span> - 61 Kg</div>
            
            </div>

    </div>



<div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12">

        <div class="leftgg"><i class="fa fa-map-o" aria-hidden="true"></i> 15, Bharathi Nagar, Ramapuram, Chennai - 600089.</div>

    </div>

</div>


<div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12">

        <div class="leftgg"><i class="fa fa-volume-control-phone" aria-hidden="true"></i> +91 8608913737</div>

    </div>

</div>


</div>


                    </div>



                </div></div>
        </div>

        <div class="col-lg-8 col-md-6 col-sm-12">

<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12">

        <div class="card">
            <div class="card-body">

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">

<div class="box-shape"><i class="fa fa-tint iconset" aria-hidden="true"></i></div>

    </div>

</div>


<div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12">

<div class="blod-set">Blood Status<span class="set-bnk">B+(Ve)</span></div>

    </div>

</div>


<div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12">

<div class="blod-file">100/70</div>

    </div>

</div>


<div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12">

<div class="blod-tce"><i class="fa fa-heart-o" aria-hidden="true" style="color: red;"></i> Higher then average</div>

    </div>

</div>


            </div></div>
        
    </div>


    <div class="col-lg-4 col-md-12 col-sm-12">


        <div class="card">
            <div class="card-body">

<div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
    
    <div class="box-shape" style="background:#FFE8F0 ;"><i class="fa fa-heartbeat iconset" aria-hidden="true" style="color: #FF1C6D;"></i></div>
    
        </div>
    
    </div>
    
    
    <div class="row">
    
        <div class="col-lg-12 col-md-12 col-sm-12">
    
    <div class="blod-set">Heart Rate</div>
    
        </div>
    
    </div>
    
    
    <div class="row">
    
        <div class="col-lg-12 col-md-12 col-sm-12">
    
    <div class="blod-file">78 pmp</div>
    
        </div>
    
    </div>
    
    
    <div class="row">
    
        <div class="col-lg-12 col-md-12 col-sm-12">
    
    <div class="blod-tce"><i class="fa fa-heart-o" aria-hidden="true" style="color: red;"></i> Higher then average</div>
    
        </div>
    
    </div>
</div>


            </div></div>

    </div>



    <div class="col-lg-4 col-md-12 col-sm-12">

        <div class="card">
            <div class="card-body">

<div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
    
    <div class="box-shape" style="background: #E6F5FE;">
        <i class="fa fa-hourglass-start iconset" aria-hidden="true" style="font-size:30px;padding-top:13px;color:#009af1"></i>
        
       </div>
    
        </div>
    
    </div>
    
    
    <div class="row">
    
        <div class="col-lg-12 col-md-12 col-sm-12">
    
    <div class="blod-set">Glucose Level</div>
    
        </div>
    
    </div>
    
    
    <div class="row">
    
        <div class="col-lg-12 col-md-12 col-sm-12">
    
    <div class="blod-file">78 - 92</div>
    
        </div>
    
    </div>
    
    
    <div class="row">
    
        <div class="col-lg-12 col-md-12 col-sm-12">
    
    <div class="blod-tce"><i class="fa fa-heart-o" aria-hidden="true" style="color: red;"></i> Higher then average</div>
    
        </div>
    
    </div>

</div>

            </div></div>


    </div>

</div>



<div class="row">

    <div class="col-lg-5 col-md-12 col-sm-12">


        <div class="card">
            <div class="card-body">



                <div class="row">

                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <h5 class="card-title" style="font-size:18px;font-weight: 600;">Documents</h5>

                    </div>



                    <div class="col-lg-6 col-md-12 col-sm-12">

                        <button type="button" class="btn btn-link downset"><i class="fa fa-plus-circle" aria-hidden="true" style="font-size:20px;"></i> Add file</button>

                    </div>
                
                
                </div>


                <div>

                    <table class="table table-bordered" style="border-color: #ffffff;margin-bottom: 0px;">
                        <thead>
                          <tr>
                            <th scope="col" style="font-size: 17px;"><i class="fa fa-file-text" aria-hidden="true"></i> Prescription.pdf</th>
                            <th scope="col"><a href="#"><i class="fa fa-arrow-circle-o-down" aria-hidden="true" style="font-size: 30px;
                                color: #666;"></i></a></th>
                           
                          </tr>
                        </thead>
                   
                      </table>
                      <mat-divider></mat-divider>

                </div>

                <div>

                    <table class="table table-bordered" style="border-color: #ffffff;margin-bottom: 0px;">
                        <thead>
                          <tr>
                            <th scope="col" style="font-size: 17px;"><i class="fa fa-file-text" aria-hidden="true"></i> Ultra sound.pdf</th>
                            <th scope="col"><a href="#"><i class="fa fa-arrow-circle-o-down" aria-hidden="true" style="font-size: 30px;
                                color: #666;"></i></a></th>
                           
                          </tr>
                        </thead>
                   
                      </table>
                      <mat-divider></mat-divider>

                </div>

                <div>

                    <table class="table table-bordered" style="border-color: #ffffff;margin-bottom: 0px;">
                        <thead>
                          <tr>
                            <th scope="col" style="font-size: 17px;"><i class="fa fa-file-text" aria-hidden="true"></i> Ultra sound.pdf</th>
                            <th scope="col"><a href="#"><i class="fa fa-arrow-circle-o-down" aria-hidden="true" style="font-size: 30px;
                                color: #666;"></i></a></th>
                           
                          </tr>
                        </thead>
                   
                      </table>
                      <mat-divider></mat-divider>

                </div>

                <div>

                    <table class="table table-bordered" style="border-color: #ffffff;margin-bottom: 0px;">
                        <thead>
                          <tr>
                            <th scope="col" style="font-size: 17px;"><i class="fa fa-file-text" aria-hidden="true"></i> Prescription.pdf</th>
                            <th scope="col"><a href="#"><i class="fa fa-arrow-circle-o-down" aria-hidden="true" style="font-size: 30px;
                                color: #666;"></i></a></th>
                           
                          </tr>
                        </thead>
                   
                      </table>
                      <mat-divider></mat-divider>

                </div>

                <div>

                    <table class="table table-bordered" style="border-color: #ffffff;margin-bottom: 0px;">
                        <thead>
                          <tr>
                            <th scope="col" style="font-size: 17px;"><i class="fa fa-file-text" aria-hidden="true"></i> Prescription.pdf</th>
                            <th scope="col"><a href="#"><i class="fa fa-arrow-circle-o-down" aria-hidden="true" style="font-size: 30px;
                                color: #666;"></i></a></th>
                           
                          </tr>
                        </thead>
                   
                      </table>
                      <mat-divider></mat-divider>

                </div>

                <div class="trse">

                    <a class="link" href="#">See all</a>
                </div> 
                
            </div></div>

    </div>





    <div class="col-lg-7 col-md-12 col-sm-12">


        <div class="card">
            <div class="card-body">



                <div class="row">

                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <h5 class="card-title" style="font-size:18px;font-weight: 600;">Medical Records</h5>

                    </div>



                    <div class="col-lg-6 col-md-12 col-sm-12">

                        <button type="button" class="btn btn-link downset"><i class="fa fa-plus-circle" aria-hidden="true" style="font-size:20px;"></i> Add record</button>

                    </div>
                
                
                </div>




<div>

    <table class="table table-bordered" style="border-color: #ffffff;margin-bottom: 0px;">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Symptoms</th>
            <th scope="col">Specialist</th>
            <th scope="col"></th>
           
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>May 16,2024</td>
            <td>Back Pain</td>
            <td>Dr.Naveen</td>
            <td><a href="#"><i class="fa fa-arrow-circle-o-down" aria-hidden="true" style="font-size: 30px;
                color: #666;"></i></a></td>
          </tr>
         
       
        </tbody>
      </table>
      <mat-divider></mat-divider>

</div>


<div>

    <table class="table table-bordered" style="border-color: #ffffff;margin-bottom: 0px;">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Symptoms</th>
            <th scope="col">Specialist</th>
            <th scope="col"></th>
           
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>May 16,2024</td>
            <td>Back Pain</td>
            <td>Dr.Naveen</td>
            <td><a href="#"><i class="fa fa-arrow-circle-o-down" aria-hidden="true" style="font-size: 30px;
                color: #666;"></i></a></td>
          </tr>
         
       
        </tbody>
      </table>
      <mat-divider></mat-divider>

</div>



<div>

    <table class="table table-bordered" style="border-color: #ffffff;margin-bottom: 0px;">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Symptoms</th>
            <th scope="col">Specialist</th>
            <th scope="col"></th>
           
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>May 16,2024</td>
            <td>Back Pain</td>
            <td>Dr.Naveen</td>
            <td><a href="#"><i class="fa fa-arrow-circle-o-down" aria-hidden="true" style="font-size: 30px;
                color: #666;"></i></a></td>
          </tr>
         
       
        </tbody>
      </table>
      <mat-divider></mat-divider>

</div>

        <div class="trse">

            <a class="link" href="#">See all</a>
        </div>     



            </div></div>

    </div>

</div>










        </div>







    </div>






    <div class="row">

        <div class="col-lg-8 col-md-12 col-sm-12">
    
            <div class="card">
                <div class="card-body">



                    <div class="row">

                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <h5 class="card-title" style="font-size:18px;font-weight: 600;">Appointment list</h5>
    
                        </div>
    
    
    
                        <div class="col-lg-6 col-md-12 col-sm-12">
    
                            <button type="button" class="btn btn-link downset" style="width:200px ;"><i class="fa fa-plus-circle" aria-hidden="true" style="font-size:20px;"></i> Add Appointment</button>
    
                        </div>
                    
                    
                    </div>

                    <mat-tab-group animationDuration="0ms">
                        <mat-tab label="Upcoming Appointment">

                            <div class="">
                                <div class="card-body">


                                    <div class="appontmet-box">
                                        <div class="padingg">
                                            <table class="table table-bordered" style="border-color: #F5F7F8;margin-bottom: 0px;--bs-table-bg: none !important;">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">Date</th>
                                                    <th scope="col">Symptoms</th>
                                                    <th scope="col">Category</th>
                                                    <th scope="col">Doctor</th>
                                                    <th scope="col"></th>
                                                   
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <td>May 16,2024</td>
                                                    <td>Back Pain</td>
                                                    <td>Dr.Naveen</td>
                                                    <td>Follow - up</td>
                                                    <td><div class="conf-bu" style="margin-bottom: 5px;">Confirmed</div></td>                                                   
                                                  </tr>                                                
                                               
                                                </tbody>
                                              </table>                                            
                                             </div>
                                    </div>



                                    <div class="appontmet-box">
                                        <div class="padingg">
                                            <table class="table table-bordered" style="border-color: #F5F7F8;margin-bottom: 0px;--bs-table-bg: none !important;">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">Date</th>
                                                    <th scope="col">Symptoms</th>
                                                    <th scope="col">Category</th>
                                                    <th scope="col">Doctor</th>
                                                    <th scope="col"></th>
                                                   
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <td>May 16,2024</td>
                                                    <td>Back Pain</td>
                                                    <td>Dr.Naveen</td>
                                                    <td>Follow - up</td>
                                                    <td><div class="conf-bu" style="margin-bottom: 5px;">Confirmed</div></td>                                                   
                                                  </tr>                                                
                                               
                                                </tbody>
                                              </table>                                            
                                             </div>
                                    </div>



                                    <div class="appontmet-box">
                                        <div class="padingg">
                                            <table class="table table-bordered" style="border-color: #F5F7F8;margin-bottom: 0px;--bs-table-bg: none !important;">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">Date</th>
                                                    <th scope="col">Symptoms</th>
                                                    <th scope="col">Category</th>
                                                    <th scope="col">Doctor</th>
                                                    <th scope="col"></th>
                                                   
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <td>May 16,2024</td>
                                                    <td>Back Pain</td>
                                                    <td>Dr.Naveen</td>
                                                    <td>Follow - up</td>
                                                    <td><div class="conf-bu" style="margin-bottom: 5px;">Confirmed</div></td>                                                   
                                                  </tr>                                                
                                               
                                                </tbody>
                                              </table>                                            
                                             </div>
                                    </div>









                                </div></div>




                        </mat-tab>




                        <mat-tab label="Past Appointment">



                            <div class="card-body">


                                <div class="appontmet-box">
                                    <div class="padingg">
                                        <table class="table table-bordered" style="border-color: #F5F7F8;margin-bottom: 0px;--bs-table-bg: none !important;">
                                            <thead>
                                              <tr>
                                                <th scope="col">Date</th>
                                                <th scope="col">Symptoms</th>
                                                <th scope="col">Category</th>
                                                <th scope="col">Doctor</th>
                                                <th scope="col"></th>
                                               
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td>March 16,2024</td>
                                                <td>Back Pain</td>
                                                <td>Dr.Naveen</td>
                                                <td>Follow - up</td>
                                                <td><div class="conf-bu" style="background: #ffeaea;color: #ff0000;margin-bottom: 6px;">canceled</div></td>                                                   
                                              </tr>                                                
                                           
                                            </tbody>
                                          </table>                                            
                                         </div>
                                </div>



                                <div class="appontmet-box">
                                    <div class="padingg">
                                        <table class="table table-bordered" style="border-color: #F5F7F8;margin-bottom: 0px;--bs-table-bg: none !important;">
                                            <thead>
                                              <tr>
                                                <th scope="col">Date</th>
                                                <th scope="col">Symptoms</th>
                                                <th scope="col">Category</th>
                                                <th scope="col">Doctor</th>
                                                <th scope="col"></th>
                                               
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td>May 16,2024</td>
                                                <td>Back Pain</td>
                                                <td>Dr.Naveen</td>
                                                <td>Follow - up</td>
                                                <td><div class="conf-bu" style="margin-bottom: 6px;">Confirmed</div></td>                                                   
                                              </tr>                                                
                                           
                                            </tbody>
                                          </table>                                            
                                         </div>
                                </div>



                                <div class="appontmet-box">
                                    <div class="padingg">
                                        <table class="table table-bordered" style="border-color: #F5F7F8;margin-bottom: 0px;--bs-table-bg: none !important;">
                                            <thead>
                                              <tr>
                                                <th scope="col">Date</th>
                                                <th scope="col">Symptoms</th>
                                                <th scope="col">Category</th>
                                                <th scope="col">Doctor</th>
                                                <th scope="col"></th>
                                               
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td>May 16,2024</td>
                                                <td>Back Pain</td>
                                                <td>Dr.Naveen</td>
                                                <td>Follow - up</td>
                                                <td><div class="conf-bu" style="margin-bottom: 6px;">Confirmed</div></td>                                                   
                                              </tr>                                                
                                           
                                            </tbody>
                                          </table>                                            
                                         </div>
                                </div>









                            </div>








                        </mat-tab>
                       
                      </mat-tab-group>



                </div></div>
    
        </div>




        <div class="col-lg-4 col-md-12 col-sm-12">
    
            <div>
                <div class="card-body">

                    <div class="card">
                        <div class="card-body" style="padding-bottom:10%;">
            
            
            
                            <div class="row">
            
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <h5 class="card-title" style="font-size:18px;font-weight: 600;">Patient Status</h5>
            
                                </div>
            
            
            
                            
                            
                            </div>
                        
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">

                                <div >
                                    <div style="padding: 15px;">
                                        <table class="table table-bordered" style="border-color: #ffffff;margin-bottom: 0px;--bs-table-bg: none !important;">
                                            <thead>
                                              <tr>
                                                <th scope="col">Last Checked</th>
                                               
                                               
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td>Dr. Naveen on 04th May 2024</td>
                                                                                             
                                              </tr>                                                
                                           
                                            </tbody>
                                          </table>                                            
                                         </div>
                                </div>




                                <div class="appontmet-box">
                                    <div style="padding: 15px;">
                                        <table class="table table-bordered" style="border-color: #ffffff;margin-bottom: 0px;--bs-table-bg: none !important;">
                                            <thead>
                                              <tr>
                                                <th scope="col">Abservetion</th>
                                               
                                               
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                                     Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                                                                                             
                                              </tr>                                                
                                           
                                            </tbody>
                                          </table>                                            
                                         </div>
                                </div>







                            </div>

                        </div>
                        
                        
                        </div></div>



                </div></div>
    
        </div>
    
    </div>





</div>
