<div class="Content">

    <div class="row">
      <div class="col-lg-4 col-md-6 col-md-12">
        <div class="page-title-box">
        
            <h4 class="page-title">Patient List</h4>
        </div></div>


        <div class="col-lg-4 col-md-6 col-md-12">

<div style="margin-top: 10px;">
          <div class="pull-right">

            <span class="pull-left" style="padding-top: 20px;padding-right: 5px;padding-left: 20px;">Case Status </span>
              <mat-form-field appearance="outline" style="width: 100px;">
            <mat-label>All</mat-label>
            <mat-select>
              <mat-option value="volvo"> sdfsf</mat-option>
              <mat-option value="volvo1"> sdfsf</mat-option>
              <mat-option value="volvo2"> sdfsf</mat-option>
            </mat-select>
          </mat-form-field>
          </div>
          <div class="pull-right">
          <span class="pull-left" style="padding-top: 20px;padding-right: 5px;;">Sort by </span>
            <mat-form-field appearance="outline" style="width: 100px;">
          <mat-label>Latest</mat-label>
          <mat-select>
            <mat-option value="volvo"> sdfsf</mat-option>
            <mat-option value="volvo1"> sdfsf</mat-option>
            <mat-option value="volvo2"> sdfsf</mat-option>
          </mat-select>
        </mat-form-field>
        
        
        </div></div>

        </div>

      <div class="col-lg-4 col-md-6 col-md-12">
            <div class="page-title-right">
        <div class="example-button-row">

          <button mat-fab color="warn" aria-label="Example icon button with a home icon" style="margin-top: 10px !important;">
            <mat-icon> local_printshop</mat-icon>
          </button>
            
              <button mat-fab color="primary" aria-label="Example icon button with a delete icon" style="margin-top: 10px !important;">
                <mat-icon>add</mat-icon>
              </button>
            
           
            
          <span class="pull-right" style="font-size:20px;padding-top: 22px;">Patients <strong>105</strong></span>
            
            
          
        </div>
      </div></div>








      



  </div>

  <div class="row">


    <div class="col-lg-12 col-md-12 col-md-12">


      

<div>



    
</div>







    </div>
    
    
    
          </div></div>